/bin/
/dist/
/.idea/
/.vscode/
/.eclipse/
sonarLint
*.log
.DS_Store
cannot_read_this_folder
levain.bundle.js
/coverage
/extra-bin/windows/7-zip/
/extra-bin/windows/curl/
/extra-bin/windows/git/
/node_modules/
deno.lock
testdata/template/result.txt
levain
levain.exe
embed/
target/
